PORT=5000
DATABASE_URL="file:./dev.db"
JWT_SECRET="dim_ballooning_super_secret_jwt_key_2026"
JWT_EXPIRES_IN="7d"
PDF_SERVICE_URL="http://127.0.0.1:8001"
CHECK_THRESHOLD_PERCENT=10
UPLOAD_DIR="uploads"
REPORTS_DIR="reports"
